<div class="group_item">
<%= link_to_remote group.title, :url => {:controller => "groups", :action => :show_contacts, :id => group.id } %>
</div>
<div class="length"><%= group.contacts.length %></div>