<div class="contact_item">
  <input class="contact_checkbox"type="checkbox"/>
  <%= link_to_remote contact.name, :url => {:controller => "contacts", :action => :display_contact, :id => contact.id} %>
</div>